.assginment-card-wrapper {
  width: 230px;
  height: 150px;
  margin: 0 20px 20px 0;
  padding: 15px;
  color: white;
  cursor: pointer;
  display: inline-block;
}

.card-header {
  width: 100%;
  height: 70px;
}

.selected-date {
  font-size: 25px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  font-family: 'NanumSquareRoundR';
}

.assginment-detail {
  font-size: 13px;
  font-family: 'NanumSquareRoundL'
}