#subject-list{
  width: 100%;
  height: calc( 100vh - 70px );
  background-color: #232227;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

#subject-section{
  width: 230px;
  height: 100%;
  display: inline-block;
  float: left;
}