#signin-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient( to bottom, #504e5c, #232227);
}

#signin-wrapper {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.signin-input-wrapper {
  width: 300px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(80, 71, 80);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signin-img {
  width: calc( 20% - 10px );
  height: 100%;
}

.signin-input {
  width: 80%;
  height: 80%;
  margin-right: 10px;
  border: 0;
  background-color : rgb(80, 71, 80);
  color: white;
  font-size: 13px;
}

.signin-input::placeholder {
  color: white;
  font-size: 13px;
}

.signin-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  font-size: 13px;
}

.signin-input::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  font-size: 13px;
}

.signin-input:focus {
  outline: none;
}
#signin-btn {
  width: 300px;
  height: 50px;
  border: 0;
  border-radius: 30px;
  text-align: center;
  background-color: #ec4969;
  line-height: 50px;
  color: white;
  font-size: 13px;
  cursor: pointer;
}

#signin-sub-btn {
  width: 300px;
  font-size: 10px;
  color: white;
  padding: 10px 0;
}

#signin-sub-btn span:last-child {
  float: right;
}

#signin-sub-btn {
  cursor: pointer;
}