#signin-section {
  width: 100%;
  height: 100vh;
  background: url('../assets/img/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#signin-wrapper {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.signin-input-wrapper {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0.7;
  border-radius: 30px;
  background-color: #000000;
}

.signin-img {
  width: calc( 20% - 10px );
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.signin-img img {
  width: 30px;
  height: 30px;
}

.signin-input {
  width: 80%;
  height: 80%;
  margin-right: 20px;
  border: 0;
  color: #ffff;
  opacity: 0.7;
  font-size: 13px;
  background-color: #000000;
}

.signin-input::placeholder {
  opacity: 0.7;
  color: #ffff;
  font-size: 13px;
}

.signin-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 0.7;
  color: #ffff;
  font-size: 13px;
}

.signin-input::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 0.7;
  color: #ffff;
  font-size: 13px;
}

.signin-input:focus {
  outline: none;
}

#signin-btn {
  width: 300px;
  height: 50px;
  border: 0;
  border-radius: 10px;
  background-color: #00462b;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  text-align: center;
  line-height: 50px;
  color: #ffff;
  font-size: 13px;
  cursor: pointer;
}

#signin-sub-btn {
  width: 300px;
  font-size: 10px;
  color: #ffff;
  padding: 10px 0;
}

#signin-sub-btn span:last-child {
  float: right;
}

#signin-sub-btn {
  cursor: pointer;
}