#assignment-modal-wrapper {
  width: 700px;
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.12);
}

.assignment-modal-top-bottm {
  width: calc(100% - 40px);
  background-color: #f6f7f9;
  padding: 20px;
}

.top {
  height: 20px;
}

.bottom {
  height: 40px;
}


.assignment-modal-top-bottm:first-child {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.assignment-modal-top-bottm:last-child {
  border-top: solid 1px rgba(0, 0, 0, 0.12);
}

.assignment-modal-top-bottm img {
  float: right;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.assignment-detail-info {
  margin-bottom: 20px;
}

#assignment-modal-contents-wrapper {
  width: calc(100% - 140px);
  background-color: white;
  padding: 30px 70px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

#assignment-detail-contents {
  width: 100%;
}

#assignment-file-secion {
  width: calc(100% - 80px);
  border-radius: 10px;
  background-color: #f6f7f9;
  margin: 30px;
  padding: 10px;
}

#assignment-file-secion p {
  margin: 0 0 10px 5px;
  font-size: 15px;
}

#assignment-submit-btn {
  display: inline-block;
  float: right;
  height: 40px;
  width: 100px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #83bdd0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  color: white;
}