#calendar-section{
  width: calc( 100% - 320px );
  display: inline-block;
  height: 100%;
  padding-right: 20px;
}

#calendar-wrapper{
  width: 100%;
  height: 100%;
  display:inline-block;
  background-color: white;
  box-shadow: 0 0 15px 0 rgba(126, 126, 126, 0.25);
}

.rbc-day-bg{
  cursor: pointer;
}

.rbc-calendar{
  width: 100%;
  height: calc( 100% - 20px );
  float: right;
  padding: 20px;
}

.rbc-calendar .rbc-month-view {
  border-top: 1px solid #DDD;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.rbc-row-segment .rbc-event {
  border-radius: 15px;
  margin: 1px 4px;
  text-align: center;
}

.rbc-month-header .rbc-header {
  padding: 5px 0;
}

.rbc-toolbar .rbc-toolbar-label {
  font-size: 23px;
  text-align: right;
  float: left;
}

.rbc-toolbar .rbc-btn-group {
  float: right;
}

.rbc-calendar .rbc-toolbar {
  display: inline-block;
}