#selected-date {
  width: 170px;
  height: 100%;
  background-color: #001D5B;
  color: white;
  font-size: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
}