.subject {
  width: 120px;
  height: 50px;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  margin: 5px 0;
  -moz-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
}

.subject:hover {
  background-color: white;
  color: #001D5B;
}

.selected-subject {
  background-color: white;
  color: #001D5B;
}

.subject:last-child{
  border: 0;
}