.subject {
  width: 100%;
  height: 50px;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid white;
  color: white;
  cursor: pointer;
  -moz-transition: font-size 250ms ease;
  -o-transition: font-size 250ms ease;
  -webkit-transition: font-size 250ms ease;
  transition: font-size 250ms ease;
}

.subject:hover {
  font-size: 20px;
}